<a href="https://colab.research.google.com/github/mwinzie/Autolib2-Project/blob/master/Moringa_Data_Science_Core_W3_Independent_Project_Agnes_Mwinzi_DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Research Problem
The objective of this project is to investigate a claim about the number of blue cars used in Autolib electric car-sharing service company.

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
autodict = pd.read_csv('columns_explanation.xlsx', encoding = 'latin1')
autodict.head()

In [0]:
auto = pd.read_csv('http://bit.ly/DSCoreAutolibDataset')
auto.head()

   Postal code      date  ...  Slots_freed_sum  Slots_taken_sum
0        75001  1/1/2018  ...               22               20
1        75001  1/2/2018  ...               23               22
2        75001  1/3/2018  ...               27               27
3        75001  1/4/2018  ...               25               21
4        75001  1/5/2018  ...               18               20

[5 rows x 13 columns]